* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header-nav {
    float: right;
}

/* SLIDER */
.slider {

    position: relative;

}

.slider img {
    width: 100%;
    height: 900px;

}

.slider h1 {
    /* text-align: center; */
    /* margin-left: 200px; */
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    /* left: 200px; */
    font-size: 35px;
    font-weight: 700;
    color: white;
    letter-spacing: 4px;
    /* text-align: center; */
    /* display: block;
    text-align: center; */
    /* margin: 0 auto; */
}

.slider p {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 20px;
}



.content-main .rain-water {

    font-size: 20px;
    padding: 30px;
    background-image: url(/ePRJ1/img/home-ảnh-0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
    /* margin-top: 30px; */

}

.rain-water i {
    color: white;
    text-align: center;
    position: relative;
    top: 400px;
    font-weight: 500;
}

.content-2 {
    padding: 0 10px;
    background-color: rgb(38, 38, 38);
    padding-bottom: 30px;
    /* margin-bottom: 20px; */
}

.content-2 h1 {
    color: white;
    text-align: center;
    font-weight: 500px;

}

.content-2 p {
    color: white;
}

.content-2 img {
    width: 100%;
    height: 98%;
}

.content-3 {
    padding: 0 10px;
    padding-bottom: 30px;
    margin-bottom: -30px;
    /* margin-bottom: 10px;
    margin-bottom: 40px; */
}

.content-3 .benefit h1 {
    text-align: center;
    color: white;
    font-weight: 500px;
    line-height: 100px;
    margin-top: 230px;

}

.content-3 .benefit {
    background-color: black;
    /* height: 610px;
    width: 749px;
    margin-left: 10px; */
    /* margin-left: 10px; */
}

.content-3 .img {
    padding: 0;
    height: 100%;
}

.content-3 .img img {
    width: 100%;
    height: 102vh;
}


.content-4 {
    background-color: rgb(38, 38, 38);
}

.content-4 h3 {
    color: white;
    text-align: center;
    padding: 50px 0 0 0;
}

.content-4 .list-tech {
    text-align: center;
}

.content-4 .card {
    background-color: rgb(38, 38, 38);
    height: 450px;
    margin: 50px;
    padding: 0;
    border: 0;
    border-radius: 0;
    overflow: hidden;
}

.content-4 .card img {
    width: 100%;
    height: 100%;
}

.content-4 h4 {
    color: white;
}

/* card-main */
.card-main .content-card {
    position: relative;
}

.card-main .info-card {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
}

.card-main:hover .info-card {
    display: flex;
}

.card-main .info-card p {
    color: white;
}


:root {
    --pink-color: #f2726a;
  }

  .team{
    
    background:#36475C;
    color: white;
    padding-bottom: 30px;
  }

  .team h2{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
  }
  .my-team {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card_team {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    background-color: #242628;
    overflow: hidden;
    margin: 0 30px;
    padding:0px
  }
  
  .card__img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    transition: 0.25s;
    margin: 0 auto;
    transform: translateY(25px);
    border-radius: 50%;
    border: 4px solid var(--pink-color);
    cursor: pointer;
  }
  
  .card__img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: unset;
    transform: unset;
  }
  
  .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .card_team h2 {
    color: white;
    margin-top: 40px;
  }
  
  .card_team p {
    color: var(--pink-color);
  }
  
  
   
  button {
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    border: 1px solid var(--pink-color);
    padding: 10px 20px;
    border-radius: inherit;
    cursor: pointer;
    transition: 0.25s;
  }
  
  button:hover {
    background-color: var(--pink-color);
  }
  

/* FOOTER */


.footer .footer-header {
    text-align: center;
    padding: 20px 0;
    color: white;
}

.footer .row {
    margin: 0px;
    background-color: black;

}



.footer-contact .footer-content {
    color: #ababab;
}

.footer-contact .footer-content span {
    margin-left: 20px;
}

.footer-contact .footer-content ul {
    margin-left: 110px;
    margin-top: -35px;
}



.footer-map .footer-content iframe {
    width: 100%;
    /* height: 100%; */
}



.footer-soical {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --facebook-color: #3b5999;
    --instagram-color: #e1306c;
    --youtube-color: #de463b;
    --twitter-color: #46c1f6;
    --github-color: #333;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 20px 10px;
    cursor: pointer;
    position: relative;
}

.icon i {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.icon .tooltip:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
}

.tooltip,
.icon i {
    transition: 0.3s;
}

.icon:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    top: -70px;
}

.icon:hover i {
    color: white;
}

.facebook .tooltip:before,
.facebook:hover i,
.facebook .tooltip {
    background: var(--facebook-color);
}

.github .tooltip:before,
.github:hover i,
.github .tooltip {
    background: var(--github-color);
}

.twitter .tooltip:before,
.twitter:hover i,
.twitter .tooltip {
    background: var(--twitter-color);
}

.instagram .tooltip:before,
.instagram:hover i,
.instagram .tooltip {
    background: var(--instagram-color);
}

.youtube .tooltip:before,
.youtube:hover i,
.youtube .tooltip {
    background: var(--youtube-color);
}

@media (max-width: 1096px){
    .my-team {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
      }

    .card_team{
        margin-bottom: 20px;
    }
      
}


@media (min-width: 1021px) and (max-width: 1240px){
    .content-4 .card {
        background-color: rgb(38, 38, 38);
        height: 450px;
        margin: 30px;
        padding: 0;
        border: 0;
        border-radius: 0;
        overflow: hidden;
    }

    /* Footer */
    .responsive-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contact{
        width: 100%;
    }
   
    .footer-map{
        width: 100%;
    }
} 

/* Tablet: width >= 740px and < 1024px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
   /* Content-4*/

.content-4 .card {
    background-color: rgb(38, 38, 38);
    height: 300px;
    margin: 10px 12px;
    padding: 0;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    display: block;
}

.responsive-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contact{
    width: 100%;
}

.footer-map{
    width: 100%;
}

}


/* Mobile: width < 740px */
@media (max-width: 46.1875em) {
    .slider p {
        position: absolute;
        top: 70%;
        text-align: center;
        width: 100%;
        color: white;
        font-size: 20px;
    }

    /* content-4 */
    .col-3.card.card-main{
        height: 750px;
    }
    .card-main {
        width: 100%;
        /* height: 537px; */
    }
    .content-4 .card {
        background-color: rgb(38, 38, 38);
        height: 300px;
        margin: 30px 12px;
        padding: 0;
        border: 0;
        border-radius: 0;
        overflow: hidden;
        display: block;
    }

    .row-1, .row-2 {
        display: block;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* footer */

    .responsive-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contact{
        width: 100%;
    }
   
    .footer-map{
        width: 100%;
    }

   
    
/*  */
/* 
@media (min-width: 735px) and (max-width: 911px){
    .content-3 .img img {
        width: 100%;
        height: 105vh;
    }
}
@media (max-width: 913px){
    .content-3 .img img {
        width: 100%;
        height: 105vh;
    }
} */
    
}
